.otpBox {
    width: 10%;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: black;
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    justify-content: center;
  }